@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Teste"]</h3>

<p>Use this area to provide additional information.</p>

<address>
    <strong>Testando link</strong>
    <a href="www.uol.com.br">Teste</a>
</address>
